---
layout: default
---

<script>
  function formatEvent(event) {
    var date = moment(event.time).format('MMM D - ddd h:mm a');
    var name = event.name.replace("ChicagoRuby: ", "");
    var url = event.link;

    insertHTML(name, date, url);
  }

  function insertHTML(name, date, url) {
    $(".section-meetups ul").append(
      "<li><p><b>" + name + "</b></p><p>" + date + "</p><p><a href=\"" + url + "\">Details &amp; RSVP</a></p></li>"
    );
  }

  $(function() {
    $.getJSON("https://api.meetup.com/chicagoruby/events?photo-host=public&page=20&sig_id=4954727&sig=d9fb93fddae45eb66b8028734ae3e58fb3b1e786", function(data) {
      var events = data.slice(0,6);

      for (var i = 0, l = events.length; i < l; i++) {
        var event = events[i];
        formatEvent(event);
      }

      $(".loading").hide();
    });
  });
</script>

<section class="section-meetups">
  <p>ChicagoRuby hosts free monthly meetings throughout
    downtown Chicago and the surrounding suburbs.</p>

  <ul>
    <div class="loading">Loading events...</div>
  </ul>
</section>

<section class="section-map">
  <img src="/assets/graphics/map.png" alt="Map of ChicagoRuby locations throughout the Chicagoland area">
</section>

<section class="section-motto">
  <h2>When smart people challenge each other to grow,
    <span> great things happen.</span></h2>
</section>

<section class="section-photos-middle">
  <div class="photo-a"></div>
  <div class="photo-b"></div>
</section>

<div class="video-conferences-wrap">
<section class="section-video">
  <h2>{% include svg/icon-video.svg %} Latest Event Video</h2>
  <h3><a href="#">A Rubyist&#8217;s Journey into Ethereum by Dave Hoover</a></h3>
  <p class="date">Recorded June 07, 2016 at ChicagoRuby: Downtown</p>

  <div class="video-embed">
    <img src="assets/video-example.png">
  </div>

  <p class="description">Fundamentals of Ethereum, and a demonstration of
    Solidity, the most popular programming language that runs on top
    of Ethereum's virtual machine.</p>

  <a class="more-videos" href="/videos">
    {% include svg/icon-arrow.svg %} More Videos
  </a>
</section>

<section class="section-conferences">
  <p>Dive deeper with annual conferences produced by ChicagoRuby.</p>

  <ul>
    <li>
      <a href="https://windycityrails.com">
        {% include svg/logo-windycityrails.svg %}
        <p>An annual gathering for all who are
          passionate about Ruby on Rails.</p>
      </a>
    </li>
    <li>
      <a href="https://windycitythings.com">
        {% include svg/logo-windycitythings.svg %}
        <p>Master the Internet of Things and
          make IoT work for you.</p>
      </a>
    </li>
    <li>
      <a href="http://rubycaribe.com">
        {% include svg/logo-rubycaribe.svg %}
        <p>Ruby conference with deep-dive lab sessions in
          Barbados. Planning is underway.</p>
      </a>
    </li>
  </ul>
</section>
</div>

<section class="section-photos-bottom">
  <div class="photo-c"></div>
  <div class="photo-d"></div>
  <div class="photo-e"></div>
  <div class="photo-f"></div>
</section>
