---
layout: default
---

<script>
  function formatEvent(event) {
    var date = moment(event.time).format('MMM D - ddd h:mma');
    var name = event.name.replace("ChicagoRuby: ", "");
    var url = event.link;

    insertHTML(name, date, url);
  }

  function insertHTML(name, date, url) {
    $(".section-meetups ul").append(
      "<li><p class=\"date\">" + date + "</p><p class=\"name\">" + name + "</p><a class=\"link\" href=\"" + url + "\">Details &amp; RSVP</a></li>"
    );
  }

  $(function() {
    $.getJSON("https://api.meetup.com/chicagoruby/events?photo-host=public&page=20&sig_id=4954727&sig=d9fb93fddae45eb66b8028734ae3e58fb3b1e786&callback=?", function(data) {
      var events = data.data.slice(0,6);

      for (var i = 0, l = events.length; i < l; i++) {
        var event = events[i];
        formatEvent(event);
      }

      $(".loading").remove();
    });
  });
</script>

<section class="section-meetups">
  <p>ChicagoRuby hosts free monthly meetings throughout
    downtown Chicago and the surrounding suburbs.</p>

  <ul>
    <div class="loading">Loading events...</div>
  </ul>
</section>

<section class="section-map">
  <img src="/assets/graphics/map.png" alt="Map of ChicagoRuby locations throughout the Chicagoland area">
</section>

<section class="section-motto">
  <h2>When smart people challenge each other to grow,
    <span> great things happen.</span></h2>
</section>

<section class="section-photos-middle">
  <div class="photo-a"></div>
  <div class="photo-b"></div>
</section>

<div class="video-conferences-wrap">
{% assign video = site.videos.last %}
<section class="section-video">
  <h2>{% include svg/icon-video.svg %} Latest Event Video</h2>
  <h3><a href="{{ video.url }}">{{ video.name }} by {{ video.speaker }}</a></h3>
  <p class="date">Recorded {{ video.date | date: '%B %d, %Y' }} at {{ video.event }}</p>

  <div class="video-embed">
    <iframe class="vimeo_embed"
      src="http://player.vimeo.com/video/{{ video.vimeo_id }}"
      frameborder="0" webkitAllowFullScreen
      mozallowfullscreen allowFullScreen>
    </iframe>
  </div>

  <p class="description">{{ video.content }}</p>

  <a class="more-videos" href="/videos">
    {% include svg/icon-arrow.svg %} More Videos
  </a>
</section>

<section class="section-conferences">
  <p>Dive deeper with annual conferences produced by ChicagoRuby.</p>

  <ul>
    <li>
      <a href="https://windycityrails.com">
        {% include svg/logo-windycityrails.svg %}
        <p>An annual gathering for all who are
          passionate about Ruby on Rails.</p>
      </a>
    </li>
    <li>
      <a href="https://windycitythings.com">
        {% include svg/logo-windycitythings.svg %}
        <p>Master the Internet of Things and
          make IoT work for you.</p>
      </a>
    </li>
    <li>
      <a href="http://rubycaribe.com">
        {% include svg/logo-rubycaribe.svg %}
        <p>Ruby conference with deep-dive lab sessions in
          Barbados. Planning is underway.</p>
      </a>
    </li>
  </ul>
</section>
</div>
