<header>
  <h1>
    <a class="logo" href="/">{% include svg/logo-chicagoruby.svg %}</a>
  </h1>

  <h2>
    ChicagoRuby is a group of developers &amp;
    designers who use Ruby, Rails, and related tech.
  </h2>

  <nav>
    <ul class="nav-primary">
      <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
      <li {% if page.url == "/about/" %}class="active"{% endif %}><a href="/about">About</a></li>
      <li {% if page.url contains "/videos/" %}class="active"{% endif %}><a href="/videos">Videos</a></li>
      <li {% if page.url == "/resources/" %}class="active"{% endif %}><a href="/resources">Resources</a></li>
      <li {% if page.url == "/contact/" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
    </ul>

    <ul class="nav-social">
      <li>
        <a href="https://facebook.com/{{ site.facebook_username }}">
          {% include svg/social-facebook.svg %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          {% include svg/social-twitter.svg %}
        </a>
      </li>
      <li>
        <a href="https://medium.com/{{ site.medium_username }}">
          {% include svg/social-medium.svg %}
        </a>
      </li>
    </ul>
  </nav>
</header>
