/* --------------------------
 *  Base Structure & Layout
 * -------------------------- */

 /* -- Typography Basics */

a {
  @include link-transition;
  color: $action-color;
  text-decoration: none;

  &:hover {
   color: $hover-color;
  }
}

main svg path {
  @include link-transition;
}

p {
  font-size: 1.25rem;
}

/* --- First Level Elements */

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;

  @media #{$large-up} {
  	overflow-x: hidden;
  }
}

.page-wrap {
  margin: 0 auto;
  max-width: 1030px;
}

.responsive-trigger {
  position: absolute;
  height: 1px;

  @media #{$small-up}  { height: 2px; }
  @media #{$medium-up} { height: 3px; }
  @media #{$large-up}  { height: 4px; }
}

/* --- Page Structure */

body > .page-wrap > header {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
  @include clearfix;

  h1 {
    margin: 0.5rem 0 0 0;

    @media #{$small-up} {
      float: left;
    }

    @media #{$medium-up} {
      float: none;
      margin: 0.5rem 0 1rem 0;
      width: 38.5%;
    }

    @media #{$large-up} {
      margin: 1.5rem 0 1rem 0;
      overflow: hidden;
      display: inline-block;
      float: left;
    }
  }

  h1 a svg {
    display: block;
    margin: 0 auto;
    width: 18rem;

    @media #{$small-up} {
      float: left;
      margin: 0 auto;
      width: 100%;
    }


  }

  h2 {
    max-width: 19rem;
    margin: 0 auto;
    font-family: $museo-sans-family;
    text-align: center;
    line-height: 1.2;

    @media #{$small-up} {
      max-width: 23rem;
      margin-top: 1.6rem;
      font-size: 1.6rem;
      margin-left: 20rem;
      text-align: left;
    }

    @media #{$medium-up} {
      margin-left: 41%;
      margin-top: 1.5rem;
    }

    @media #{$large-up} {
      font-size: 2rem;
      margin-top: 2rem;
      max-width: 25rem;
    }
  }
}

body > .page-wrap > header > nav {
  clear: both;

  .nav-primary {
    @include no-bullet;
  }

  .nav-primary li {
    float: left;
    width: 48.75%;

    &:nth-child(odd) {
      margin-right: 2.5%;
    }

    @media #{$small-up} {
      width: 31.66%;
      margin-right: 2.5%;

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    @media #{$medium-up} {
      width: 18%;

      &:nth-child(3n+3) {
        margin-right: 2.5%;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nav-primary li a {
    display: block;
    margin: 0.5rem 0;
    padding: 0.3rem 0;
    background-color: $action-color;
    color: $white;
    font-size: 2rem;
    font-family: $museo-sans-family;
    text-align: center;

    @media #{$large-up} {
      padding: 0.5rem 0;
      font-size: 2.3rem;
    }

    &:hover {
      background-color: $hover-color;
    }
  }

  .nav-social {
    @include no-bullet;
    width: 47.5%;
    margin: 0;
    display: inline-flex;
    justify-content: space-around;

    @media #{$small-up} {
      width: 31.66%;
    }

    @media #{$medium-up} {
      display: block;
      position: absolute;
      top: 1.1rem;
      right: 1%;
      width: auto;
    }

    @media #{$large-up} {
      right: 2%;
      top: 4.5rem;
    }

    li {
      margin: 1em 2% 0 2%;

      @media #{$medium-up} {
        margin: 0;
        line-height: 1;
        transform: scale(0.9);
        height: 2.5rem;
      }

      @media #{$large-up} {
        float: left;
        margin-right: 0.7rem;
        transform: scale(1);
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a:hover svg path {
        fill: $hover-color;
      }
    }
  }
}

/* Section Styles */

.section-meetups {
  background-color: $gray-background;
  width: 90%;
  margin: 1rem 2.5% 1rem 0;
  padding: 1rem 2.5% 0.5rem 5%;

  @media #{$medium-up} {
    width: 51%;
    float: left;
    margin-bottom: 1.5rem;
  }

  @media #{$large-up} {
    margin-left: -200%;
    padding-left: 205%;
    height: 22rem;
  }

  > p {
    margin-top: 0;
    max-width: 80%;

    @media #{$medium-up} {
      max-width: 90%;
    }
  }

  ul {
    @include no-bullet;
    overflow: hidden;
    width: 100%;
  }

  li {
    margin-bottom: 1rem;
    padding-left: 1.4rem;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBhcmlhLWxhYmVsbGVkYnk9InRpdGxlIj4KICA8dGl0bGU+CiAgICBDYWxlbmRhciBpY29uCiAgPC90aXRsZT4KICA8cGF0aAogICAgZD0iTTEzLjYgMi40aC0uODV2MS43SDEwLjJWMi40SDUuMXYxLjdIMi41NVYyLjRIMS43Qy43NjQgMi40IDAgMy4xNjUgMCA0LjF2MTAuMmMwIC45MzUuNzY0IDEuNyAxLjcgMS43aDExLjljLjkzNSAwIDEuNy0uNzY1IDEuNy0xLjdWNC4xYzAtLjkzNS0uNzY1LTEuNy0xLjctMS43em0wIDExLjlIMS43VjcuNWgxMS45djYuOHpNNC42NzUuN2gtMS43djIuOTc1aDEuN1YuN3ptNy42NSAwaC0xLjd2Mi45NzVoMS43Vi43eiIKICAgIGZpbGw9IiMwMDAiCiAgICBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==") no-repeat 0 2.5px;

    @media #{$small-up} {
      float: left;
      width: 28.665%;
      margin-right: 2.5%;
      padding-left: 3%;

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    @media #{$medium-up} {
      float: left;
      width: 43.75%;
      margin-bottom: 2.2rem;
      margin-right: 2.5%;
      padding-left: 5%;
      max-width: 10rem;

      &:nth-child(3n+3) {
        margin-right: 2.5%;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @media #{$large-up} {
      float: left;
      width: 27.5%;
      margin-bottom: 2rem;
      margin-right: 2.5%;
      padding-left: 4%;
      max-width: auto;

      &:nth-child(even) {
        margin-right: 2.5%;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }

  li p, li a {
    font-size: 1rem;
    margin: 0 0 0.2rem 0;
  }

  .date {
    @media #{$large-up} {
      font-size: 0.95rem;
    }
  }

  .date, .link {
    font-weight: $weight-bold;
  }
}

.section-map {
  width: 95%;
  margin: 1rem auto;
  line-height: 0;

  @media #{$small-up} {
    float: left;
    width: 62.5%;
    margin: 0 0 0 2.5%;
  }

  @media #{$medium-up} {
    float: right;
    width: 36.5%;
    margin-right: 2.5%;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.section-motto {
  width: 95%;
  margin: 1rem auto;
  padding: 1rem 0;
  background-color: $black;
  color: $white;
  text-align: center;

  @media #{$small-up} {
    float: left;
    width: 62.5%;
    height: 7rem;
    margin: 1rem 2.5%;
  }

  @media #{$medium-up} {
    width: 56%;
    margin-top: 0;
  }

  @media #{$large-up} {
    height: 9.7rem;
  }

  h2 {
    margin: 0 auto;
    max-width: 18rem;
    font-size: 1.4rem;
    font-weight: $weight-light;

    @media #{$small-up} {
      max-width: 22rem;
      font-size: 1.6rem;
    }

    @media #{$large-up} {
      font-size: 2.3rem;
      max-width: 29.6rem;
      line-height: 1.3;
    }

    span {
      font-weight: $weight-black;
      display: block;
    }
  }
}

.section-photos-middle {
  @media #{$small-up} {
    margin: 1rem 2.5% 1rem 67.5%;
    width: 30%;
  }

  @media #{$medium-up} {
    width: 36.5%;
    margin-left: 61%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    clear: right;
  }

  @media #{$large-up} {
    position: relative;
  }

  .photo-a {
    margin: 1rem 2.5%;
    width: 95%;
    height: 15rem;
    background-repeat: no-repeat;
    background-image: url("/assets/photos/standing_chat.jpg");
    background-position: 50% 0%;
    background-size: 150%;

    @media #{$small-up} {
      width: 100%;
      height: 9rem;
      margin: 0;
    }

    @media #{$medium-up} {
      height: 8.9rem;
      background-position: 40% 5%;
      padding-bottom: 0.4rem;
    }

    @media #{$large-up} {
      height: 24.4rem;
      background-size: 160%;
    }
  }

  .photo-b {
    margin: 1rem 2.5%;
    width: 95%;
    height: 7rem;
    background-repeat: no-repeat;
    background-image: url("/assets/photos/table_chat.jpg");
    background-position: 50% 38%;
    background-size: 110%;

    @media #{$small-up} {
      width: 100%;
      margin: 1rem 0 0 0;
      background-size: 380%;
      background-position: 87% 30%;
    }

    @media #{$medium-up} {
      height: 9rem;
      background-size: 100%;
    }

    @media #{$large-up} {
      height: 11.7rem;
      position: absolute;
      left: -37.65rem;
      top: 12.1rem;
      width: 153.5%;
    }
  }
}

.section-photos-bottom {
  clear: both;
  overflow: hidden;
  margin-top: -1rem;

  .photo-c {
    margin: 1rem 1.25% 1rem 2.5%;
    width: 46.25%;
    float: left;
    height: 7rem;
    background-repeat: no-repeat;
    background-image: url("/assets/photos/centro_booth.jpg");
    background-position: 50% 40%;
    background-size: 110%;

    @media #{$medium-up} {
      margin: 1.5rem 1.25% 1.5rem 2.5%;
    }
  }

  .photo-d {
    margin: 1rem 2.5% 1rem 1.25%;
    width: 46.25%;
    float: right;
    height: 7rem;
    background-repeat: no-repeat;
    background-image: url("/assets/photos/hallway_chat.jpg");
    background-position: 50% 10%;
    background-size: 110%;

    @media #{$medium-up} {
      margin: 1.5rem 1.25% 1.5rem 2.5%;
    }
  }

  .photo-e {
    overflow: hidden;
    margin: 1rem 2.5%;
    width: 95%;
    height: 7rem;
    background-repeat: no-repeat;
    background-image: url("/assets/photos/roundtable.jpg");
    background-position: 50% 30%;
    background-size: 110%;

    @media #{$medium-up} {
      margin: 1.5rem 2.5%;
    }
  }

  @media #{$small-up} {
    margin: 0 2.5%;

    .photo-c, .photo-d, .photo-e {
      float: left;
      width: 31.66%;
      height: 8rem;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 2.5%;
    }

    .photo-e {
      margin-right: 0;
    }
  }

  @media #{$medium-up} {
    .photo-c, .photo-d, .photo-e {
      width: 18%;
      margin-right: 2.5%;
      background-size: 150%;
    }

    .photo-f {
      overflow: hidden;
      width: 38.5%;
      height: 8rem;
      margin-right: 0;
      background-repeat: no-repeat;
      background-image: url("/assets/photos/watching_talk.jpg");
      background-position: 50% 40%;
      background-size: 110%;
    }
  }
}

.video-conferences-wrap {
  @media #{$medium-up} {
    clear: both;
    background-color: $gray-background;
    overflow: hidden;
    margin-left: 2.5%;
    margin-bottom: 1.5rem;
  }

  @media #{$large-up} {
    margin-right: -200%;
    padding-right: 200%;
  }
}

.section-video {
  background-color: $gray-background;
  width: 90%;
  margin: 1rem 0 1rem 2.5%;
  padding: 1rem 5% 0.5rem 2.5%;

  @media #{$medium-up} {
    width: 52.5%;
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1.5rem;
    padding-right: 2.5%;
  }

  h2 {
    margin: 0;
    font-family: $museo-sans-family;
    font-size: 1.6rem;

    svg {
      position: relative;
      top: 1px;
    }
  }

  h3 {
    margin: 0.2rem 0 0 0;
    font-family: $museo-sans-family;
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .date {
    margin: 0;
    font-size: 1.3rem;
  }

  .video-embed {
    margin: 1em 0;
    width: 100%;

    img {
      width: 100%;
      position: relative;
      height: auto;
    }
  }

  .description {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.7rem;
  }

  .more-videos {
    font-weight: $weight-bold;
    font-size: 1.4rem;
    margin-left: 0.2rem;

    svg {
      position: relative;
      top: 2px;
      transform: scale(1.1);
    }
  }
}

.section-conferences {
  background-color: $gray-background;
  width: 90%;
  margin: 1rem 2.5% 1rem 0;
  padding: 1rem 2.5% 0.5rem 5%;

  @media #{$medium-up} {
    float: left;
    width: 32.5%;
    margin-right: 0;
    margin-left: 2.5%;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  > p {
    font-size: 1.25rem;
    margin-top: 0;
  }

  ul {
    @include no-bullet;
    overflow: hidden;
  }

  li a {
    width: 100%;
    display: block;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: $white;
    border-radius: 5px;
    text-align: center;
    color: $black;

    &:hover {
      color: $black;
    }

    p {
      margin: 0 auto;
      font-size: 1rem;
      max-width: 19rem;
    }

    @media #{$small-up} {
      width: 31.66%;
      margin: 0 2.5% 0 0;
      min-height: 9rem;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        width: 90%;
      }

      p {
        margin-top: 0.3rem;
        padding: 0 0.5rem;
      }
    }

    @media #{$medium-up} {
      width: 100%;
      margin: 1rem 0;
      min-height: inherit;
      float: none;
      display: block;
    }
  }

  li:last-child a {
    margin-right: 0;
  }
}

body > .page-wrap > footer {
  width: 90%;
  margin: 1rem 0;
  padding: 0 5% 0.5rem 5%;
  overflow: hidden;

  p {
    font-size: 1rem;
  }

  .section-supporters {
    @media #{$small-up} {
      width: 45%;
      float: left;
    }

    p {
      margin-top: 0;
    }
  }

  .copyright {
    @media #{$small-up} {
      margin: 0;
      width: 45%;
      float: right;
      text-align: right;
    }
  }
}
