---
layout: default
---

<section class="secondary-page">
  {% assign video = page %}
  <section class="section-video">
    <h3><a href="{{ video.url }}">{{ video.name }} by {{ video.speaker }}</a></h3>
    <p class="date">Recorded {{ video.date | date: '%B %d, %Y' }} at {{ video.event }}</p>

    <div class="video-embed">
      <iframe class="vimeo_embed"
        src="http://player.vimeo.com/video/{{ video.vimeo_id }}"
        frameborder="0" webkitAllowFullScreen
        mozallowfullscreen allowFullScreen>
      </iframe>
    </div>

    <p class="description">{{ video.content }}</p>

    <a class="more-videos" href="/videos">
      {% include svg/icon-arrow.svg %} More Videos
    </a>
  </section>
</section>
